{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


<div class="navbar navbar-inverse navbar-fixed-top visible-phone noprint" id="phone-navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Casey Flynn</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/#about-me" class="">About me</a></li>
          <li><a href="/#personal-information" class="">Personal Info</a></li>
          <li><a href="/#employment" class="">Employment</a></li>
          <li><a href="/#education" class="">Education</a></li>
          <li><a href="/#skills" class="">Skills</a></li>
          <li><a href="/#portfolio" class="">Portfolio</a></li>
          <li><a href="/blog" class="">Blog</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div><!--/#phone-navbar -->

<div class="container">
      <div class="row" id="content">



        <!-- If you want the sidebar placed on the left, place it just after this and change the sbright class by sbleft -->


        <!-- MAIN CONTENT -->
        <div class="span9 equal" id="main-content">

          <div class="tools noprint visible-desktop">
        <a href="javascript:if(window.print)window.print()" title="Print" data-placement="bottom" class="tips glyphicons print"><i></i></a>
        <a href="/assets/Casey_Flynn_Resume.pdf" title="Download" data-placement="bottom" class="tips glyphicons file_import"><i></i></a>
      </div>


          <div class="section first-section" id="about-me">
              <div class="row author">
                <div class="span3">
                  <img class="img-rounded" src="/assets/images/casey_rlo.jpg" alt="">
                </div>

               <div class="span6">
                 <h1>Casey Flynn</h1><br/>
                 <h2 style="clear:both;" class="primary-color">Entrepreneur / Software Engineer</h2><div style="clear:both;">
               </div>

             </div>


          <div class="span6 row">
              <a class="twitter-timeline"  href="https://twitter.com/CFlynn07"  data-widget-id="404782916183404544">Tweets by @CFlynn07</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>

        </div>



        <div class="well">

          <h3>I am Co-Founder & CTO @ <a href="http://www.cobarsystems.com/">Cobar Systems</a></h3>
          <p class="lead">

            <div style="margin-bottom:12px;">
                 <iframe class="" src="http://githubbadge.appspot.com/badge/cflynn07" style="border: 0;height: 110px;width: 205px;overflow: hidden; float:left;" frameBorder=0></iframe>
                 <a class="" href="http://stackoverflow.com/users/480807/casey-flynn">
                  <img src="http://stackoverflow.com/users/flair/480807.png?theme=dark" width="208" height="58" alt="profile for Casey Flynn at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Casey Flynn at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                 </a>

            </div>

            <br><br><br>

            <a href="https://npmjs.org/~cflynn07">My NPM Packages</a><br><br>
            I currently live in beautiful Boston, Massachusetts.

            <br/><br/>I’m the CTO & Co-Founder of Cobar Systems, a software, IT services company that provides web based solutions for businesses in the field of continuity management and disaster recovery. We develop intuitive and easy to use software that reduces ancillary business operations so that our clients can focus on their core activities.

            <br/><br/>Previously I have worked as a software engineer on the iOS development team for Intuit’s TurboTax Snaptax in San Diego, CA, and as the lead software engineer at two Boston-based tech companies, Vox Supply Chain and Indivly. I specialize in the design, development and maintenance of highly scalable and extensible database-driven web applications.

            <br/><br/>I'm an aficionado of Node.js environment, Google's Angular.js Framework, the Require.js module loading system, JavaScript written via CoffeeScript and the Jade templating language. Feel free to send me a message if you'd like to chat with me about those, or any other technologies listed on this website.

          </p>



        </div>

        <div class="social-media noprint">
          <h5>Follow me</h5>
          <div>
            <div class="tips icon-btn" title="Facebook" data-placement="bottom"><a href="http://www.facebook.com/cflynn07" class="glyphicons white facebook"><i></i></a></div>
            <div class="tips icon-btn" title="Twitter" data-placement="bottom"><a href="http://www.twitter.com/cflynn07" class="glyphicons white twitter"><i></i></a></div>
            <div class="tips icon-btn" title="Linkedin" data-placement="bottom"><a href="http://www.linkedin.com/pub/casey-flynn/20/407/409" class="glyphicons white linked_in"><i></i></a></div>
          </div>
        </div>

     </div><!--/section-->

            <div class="section" id="personal-information">
              <h2 class="section-title"><span class="glyphicons user"><i></i></span>Personal Information<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

        <div class="row">
              <div class="infoline span9 first"><div class="row">
                  <div class="span2 muted">Date of birth</div>
                  <div class="span7">August 4th, 1988</div>
            </div></div>
            <span class="clear"></span>

              <div class="infoline span9"><div class="row">
              <div class="span2 muted">Address</div>
              <div class="span7">
                332 Newbury Street<br/>
                Boston, MA<br/>
                USA
              </div>
          </div></div>
            <span class="clear"></span>

              <div class="infoline span9"><div class="row">
              <div class="span2 muted">Email</div>
              <div class="span7">casey_flynn@cobarsystems.com</div>
            </div></div>
            <span class="clear"></span>

              <div class="infoline span9"><div class="row">
              <div class="span2 muted">Phone</div>
              <div class="span7">
                774 573 4580
              </div>
          </div></div>
            <span class="clear"></span>

              <div class="infoline span9 last"><div class="row">
              <div class="span2 muted">Website</div>
              <div class="span7"><a href="http://www.cobarsystems.com" title="Cobar Systems">www.cobarsystems.com</a></div>
              <div class="span2 muted"></div>
              <div class="span7"><a href="http://www.clubbingowl.com" title="Clubbing Owl">www.clubbingowl.com</a></div>
              <div class="span2 muted"></div>
              <div class="span7"><a href="http://solutions.clubbingowl.com" title="ClubbingOwl Venue Management Systems">solutions.clubbingowl.com</a></div>
          </div></div>
            <span class="clear"></span>

          </div>
        </div><!--/section-->

        <div class="section" id="employment">
          <h2 class="section-title"><span class="glyphicons share_alt"><i></i></span>Employment<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

          <div class="timeline">




            <div class="timeline-item">
               <div class="timeline-item-date">2011 - now</div>
               <div class="timeline-item-trigger"><span class="glyphicons white circle_minus" data-toggle="collapse" data-target="#positionB"><i></i></span></div>
               <div class="timeline-arrow"><i></i></div>
               <div class="timeline-item-content">
              <h3 class="timeline-item-title" data-toggle="collapse" data-target="#positionB">Co-Founder & CTO @ Cobar Systems</h3>
              <div class="" id="positionB">
                <p><small class="muted">from October 2011 to now</small></p>
                <h4 class="media-heading primary-color">Boston, MA</h4>
                <p>
                  Cobar Systems is a B2B service company that provides web-based software solutions in the field of continuity management and disaster recovery. Johann Barlach and Casey Flynn founded Cobar Systems in October 2011 to innovate the way organizations test their recovery strategies.

                  <br/><br/>We sell a web-based management system for testing business continuity plans, ensuring preparedness of employees and answering the question for organizations “Will our recovery plans work during a real business disruption?”. Our system, called Themis, replaces email communication and excel-spreadsheet that are currently used to manage business continuity testing. It automatically distributes, collects and compiles testing data across an organization and tracks if requirements, set by compliance, are met. Engagement of test participants is also improved through its mobile and tablet integration, which allows them to access and input exercise information anytime, anywhere. Unlike competitors, Themis is an application built solely for the purpose of improving preparedness in organizations through exercising.

                  <br/><br/>Cobar Systems's solutions are built with modern web technologies; allowing for our product to load efficiently, remain responsive under high load conditions, be cross-platform and browser compatible, feature real-time communication, and be highly extensible/maintainable by developers.
                </p>
                <p><a href="http://www.cobarsystems.com/" title="Cobar Systems" class="noprint">&rarr; View website</a></p>
              </div>
            </div>
           </div><!--/timeline-item-->
           <span class="clear"></span>




              <div class="timeline-item">
               <div class="timeline-item-date">2013 - now</div>
               <div class="timeline-item-trigger"><span class="glyphicons white circle_minus" data-toggle="collapse" data-target="#positionA"><i></i></span></div>
               <div class="timeline-arrow"><i></i></div>
               <div class="timeline-item-content">
              <h3 class="timeline-item-title" data-toggle="collapse" data-target="#positionA">Co-Founder & CTO @ ClubbingOwl</h3><a href="http://blog.dotcloud.com/clubbing-owl-drives-client-revenue">blog.dotcloud.com/clubbing-owl-drives-client-revenue</a>
              <div class="" id="positionA">
                <p><small class="muted">from January 2013 to now</small></p>
                <h4 class="media-heading primary-color">Boston, MA</h4>
                <p>
                  Chief software architect of the Clubbing Owl Venue Management and Marketing System.

                  <br/><br/>Multi-platform & multi-lingual venue & promotion team management system that integrates with the Facebook API to give clients more trackable client data and viral exposure opportunities on Facebook.
                  <br/><br/>
                  <video src="/assets/clubbingowl_demo.mov" poster autoplay loop></video>

                </p>
                <p><a href="https://www.clubbingowl.com/" title="Clubbing Owl" class="noprint">&rarr; View website</a></p>
                <p><a href="http://solutions.clubbingowl.com/" title="Clubbing Owl Management System" class="noprint">&rarr; View product</a></p>
              </div>
            </div>
           </div><!--/timeline-item-->
           <span class="clear"></span>

           <div class="timeline-item">
               <div class="timeline-item-date">2011 - 2012</div>
               <div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position2"><i></i></span></div>
               <div class="timeline-arrow"><i></i></div>
               <div class="timeline-item-content">
              <h3 class="timeline-item-title" data-toggle="collapse" data-target="#position2">Software Engineer @ MessageAMP</h3>
              <div class="collapse" id="position2">
                <p><small class="muted">from 2011 to 2012</small></p>
                <h4 class="media-heading primary-color">@MassChallenge Incubator in Boston, MA</h4>
                <p>Design, implement, and maintain scalable and extensible database driven web applications using advanced web development techniques such as load balancing, caching (numerous types), worker-servers, CDNs, etc</p>
              </div>
            </div>
           </div><!--/timeline-item-->
           <span class="clear"></span>

           <div class="timeline-item">
               <div class="timeline-item-date">2011 - 2011</div>
               <div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position3"><i></i></span></div>
               <div class="timeline-arrow"><i></i></div>
               <div class="timeline-item-content">
              <h3 class="timeline-item-title" data-toggle="collapse" data-target="#position3">Software Engineer @ RealAdventures</h3>
              <div class="collapse" id="position3">
                <p><small class="muted">from January 2011 to June 2011</small></p>
                <h4 class="media-heading primary-color">Boston, MA</h4>
                <p>
                  <ul>
                    <li>Developed and test new features and views of RealAdventures.com using PHP5, SQL, HTML4/5, CSS2/3, Javascript, AJAX, Google Maps API, PayPal APIs, and Facebook APIs</li>
                    <li>Developed map-feature of RealAdventures.com to give advertisers ability to create and display a map of their listing and relevant POIs using Google Maps API, Javascript, AJAX, MySQL/SQL, PHP, HTML, CSS</li>
                    <li>Developed web-application to automate payments of RealAdventures.com affiliates using PayPal Adaptive Payments API, PayPal PHP SDK, MySQL/SQL, PHP, Javascript</li>
                    <li>Perform database schema management on MySQL database of RealAdventures.com</li>
                  </ul>
                </p>
              </div>
            </div>
           </div><!--/timeline-item-->
           <span class="clear"></span>

           <div class="timeline-item">
               <div class="timeline-item-date">2010 - 2011</div>
               <div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position4"><i></i></span></div>
               <div class="timeline-arrow"><i></i></div>
               <div class="timeline-item-content">
              <h3 class="timeline-item-title" data-toggle="collapse" data-target="#position4">Software Engineer Intern @ Intuit Inc</h3>
              <h4>
                <a href="/casey_manager_evaluation.pdf">
                  <img style="display:inline-block; width:70px;" src="/assets/pdf-icon.png" />&nbsp;<a href="/casey_manager_evaluation.pdf">Manager Evaluation</a>
                </a><br/><br/>
                <quote style="text-decoration:italic; color:gray;">"Comments: We highly recommend Casey as a SW Engineer to any employer"</quote>
              </h4>
              <div class="collapse" id="position4">
                <p><small class="muted">from 2010 to 2011</small></p>
                <h4 class="media-heading primary-color">San Diego, CA</h4>
                <p>
                  <ul>
                    <li>Developed/tested software (‘SnapTax’ and ‘ItsDeductible') for iPhone/iOS using Xcode and Objective-C</li>
                    <li>Integrated ‘SnapTax’ with Facebook using Facebook’s APIs & iOS SDK</li>
                    <li>Performed programmatic image-analysis for OCR (Optical Character Recognition) feature of ‘SnapTax’</li>
                    <li>Developed/tested software (‘TimeCatcher’) for Android OS using Eclipse and Java</li>
                    <li>Developed product experience mockups for customer usability-testing using HTML5, CSS3, Javascript and PHP</li>
                  </ul>
                </p>
              </div>
            </div>
           </div><!--/timeline-item-->
           <span class="clear"></span>

          </div><!--/timeline -->
      </div><!--/section-->


        <div class="section" id="education">
          <h2 class="section-title"><span class="glyphicons certificate"><i></i></span>Education<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

          <div class="timeline">

             <div class="timeline-item">
               <div class="timeline-item-date">2008 - 2012</div>
               <div class="timeline-item-trigger"><span class="glyphicons white circle_minus" data-toggle="collapse" data-target="#education1"><i></i></span></div>
               <div class="timeline-arrow"><i></i></div>
               <div class="timeline-item-content">
              <h3 class="timeline-item-title" data-toggle="collapse" data-target="#education1">Northeastern University</h3>
              <div class="collapse in" id="education1">
                <p><small class="muted">from 2008 to 2012</small></p>
                <h4 class="media-heading primary-color">Dual Major in Computer Science & Business</h4>
              </div>
            </div>
           </div><!--/timeline-item-->
           <span class="clear"></span>

          </div><!--/timeline -->

        </div><!--/section-->


        <div class="section skills" id="skills">
          <h2 class="section-title"><span class="glyphicons cogwheels"><i></i></span>Skills<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

          <h3>Development</h3>

          <div class="row">
            <div class="span2">Programming Languages</div>
            <div class="span7">
              <span class="label">C</span>
              <span class="label">C++</span>
              <span class="label">Objective-C</span>
              <span class="label">Java</span>
              <span class="label">Ruby</span>
              <span class="label">PHP5</span>
              <span class="label">SQL</span>
              <span class="label">CSS3</span>
              <span class="label">Less</span>
              <span class="label">JavaScript1.8</span>
              <span class="label">Regular Expressions</span>
              <span class="label">XML</span>
              <span class="label">ACL2/LISP</span>
              <span class="label">Dart</span>
              <span class="label">CoffeeScript</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Systems</div>
            <div class="span7">
              <span class="label">iOS</span>
              <span class="label">Android</span>
              <span class="label">Linux (Ubuntu)</span>
              <span class="label">Unix</span>
              <span class="label">Mac OS</span>
              <span class="label">Windows</span>
              <span class="label">BASH</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Applications</div>
            <div class="span7">
              <span class="label">Memcached</span>
              <span class="label">Redis</span>
              <span class="label">Gearman</span>
              <span class="label">Apache2</span>
              <span class="label">nginx</span>
              <span class="label">Varnish</span>
              <span class="label">Piwik</span>
              <span class="label">New Relic</span>
              <span class="label">Navicat</span>
              <span class="label">Cornerstone</span>
              <span class="label">svnX</span>
              <span class="label">GIMP/Photoshop</span>
              <span class="label">Apple Instruments</span>
              <span class="label">OpenOffice/MS Office</span>
              <span class="label">MySQL Workbench</span>
              <span class="label">WireShark</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Frameworks</div>
            <div class="span7">
              <span class="label">PHPUnit</span>
              <span class="label">ExtJS 4</span>
              <span class="label">ExpressJS (& express.io)</span>
              <span class="label">Flatiron</span>
              <span class="label">CodeIgniter</span>
              <span class="label">Kohana</span>
              <span class="label">cakePHP</span>
              <span class="label">Rails (ROR)</span>
              <span class="label">SocketStream</span>
              <span class="label">qUnit</span>
              <span class="label">SocketStream</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Libraries</div>
            <div class="span7">
              <span class="label">jQuery</span>
              <span class="label">prototype</span>
              <span class="label">Doctrine ORM</span>
              <span class="label">AngularJS</span>
              <span class="label">BackboneJS</span>
              <span class="label">RequireJS</span>
              <span class="label">Socket.IO</span>
              <span class="label">DNode</span>
              <span class="label">Mustache</span>
              <span class="label">Hogan</span>
              <span class="label">EJS</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">SDKs</div>
            <div class="span7">
              <span class="label">Facebook JS</span>
              <span class="label">Facebook PHP</span>
              <span class="label">Paypal Adaptive Payments PHP</span>
              <span class="label">AWS ECS PHP</span>
              <span class="label">MailChimp PHP</span>
              <span class="label">Mandrill PHP</span>
              <span class="label">Stripe JS & PHP</span>
              <span class="label">Pusher JS & PHP</span>
              <span class="label">Google Maps JS (v2 & v3)</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">APIs</div>
            <div class="span7">
              <span class="label">Facebook Query Language (FQL)</span>
              <span class="label">Facebook Graph</span>
              <span class="label">Facebook REST</span>
              <span class="label">Google Maps</span>
              <span class="label">Google Maps Geocoder</span>
              <span class="label">Amazon ECS SES</span>
              <span class="label">MailChimp REST</span>
              <span class="label">Piwik REST</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">DBMS</div>
            <div class="span7">
              <span class="label">MySQL</span>
              <span class="label">SQLite</span>
              <span class="label">MongoDB</span>
              <span class="label">CouchDB</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">IDEs</div>
            <div class="span7">
              <span class="label">Aptana</span>
              <span class="label">Xcode</span>
              <span class="label">emacs</span>
              <span class="label">NetBeans</span>
              <span class="label">Eclipse</span>
              <span class="label">PhpED</span>
              <span class="label">Visual Studio 2005</span>
              <span class="label">Dreamweaver</span>
              <span class="label">Textmate</span>
              <span class="label">Sublime Text 2</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">VCSs</div>
            <div class="span7">
              <span class="label">Git</span>
              <span class="label">Perforce</span>
              <span class="label">Subversion</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Data Formats</div>
            <div class="span7">
              <span class="label">JSON</span>
              <span class="label">XML (SOAP)</span>
              <span class="label">YML</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Protocols</div>
            <div class="span7">
              <span class="label">HTTP/HTTPS</span>
              <span class="label">SSL</span>
              <span class="label">Websockets</span>
              <span class="label">JSON-RPC</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Build Tools</div>
            <div class="span7">
              <span class="label">ANT</span>
              <span class="label">Grunt</span>
            </div>
          </div>


          <span class="spacer"></span>
          <div class="row">
            <div class="span2">Unit Testing Frameworks</div>
            <div class="span7">
              <span class="label">jUnit</span>
              <span class="label">qUnit</span>
              <span class="label">Mocha</span>
            </div>
          </div>
          <span class="spacer"></span>


          <div class="row">
            <div class="span2">Other</div>
            <div class="span7">
              <span class="label">Continuous Integration</span>
              <span class="label">UML Diagram Design</span>
              <span class="label">ER Diagram Design</span>
              <span class="label">Rackspace VPS</span>
              <span class="label">AWS (SQS, RDS, ElastiCache, EC2, S3, CloudFront)</span>
              <span class="label">Heroku PaaS</span>
              <span class="label">CloudFoundry PaaS</span>
              <span class="label">CloudFlare</span>
              <span class="label">PHPFog PaaS</span>
              <span class="label">CloudControl PaaS</span>
              <span class="label">APC</span>
              <span class="label">BitNami</span>
              <span class="label">dotCloud PaaS</span>
              <span class="label">Pusher</span>
              <span class="label">HTML5 Pushstate/History API</span>
              <span class="label">crontab</span>
            </div>
          </div>

        </div><!--/section-->


     {{#if false}}

        <div class="section" id="testimonials">
          <h2 class="section-title"><span class="glyphicons comments"><i></i></span>Testimonials<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

          <div class="testimonial">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><p>Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small><a href="#" title="">Mike Johanson</a><cite> | SEO @ SDA Company</cite></small>
          </blockquote>
        </div>

        <div class="testimonial">
          <div class="media">
            <img class="media-object pull-left" src="images/80-80-portrait.jpg" alt="">
            <div class="media-body">
              <blockquote>
                  <p>Donec eros magna, blandit eu tempus a, ornare quis nulla. Cras gravida fringilla tellus a euismod. Curabitur risus lacus, congue eget condimentum id, feugiat et nisl. Nulla diam lacus, posuere eget gravida in, gravida id sem. Etiam pharetra ornare sollicitudin.</p>
                  <small><a href="#" title="">John Robinson</a><cite> | client @ Starlabs</cite></small>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="testimonial">
          <blockquote>
              <p>Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla.</p><p>Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis.</p>
              <small><a href="#" title="">Bob Smith</a><cite> | Designer @ ZNS Agency</cite></small>
          </blockquote>
        </div>

      </div><!--/section-->

    {{/if}}




      <div class="section clearfix noprint" id="portfolio">
        <h2 class="section-title"><span class="glyphicons show_thumbnails"><i></i></span>Portfolio<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>











      {{#if false}}
        <ul class="nav nav-pills" id="portfolio-filters">
          <li class="active"><a href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".portfolio-type1">Type 1</a></li>
          <li><a href="#" data-filter=".portfolio-type2">Type 2</a></li>
          <li><a href="#" data-filter=".portfolio-type3">Type 3</a></li>
        </ul>
      {{/if}}













        <!-- Featured Portfolio items -->
        <div class="row" id="portfolio-items">

          <div class="span3 portfolioitem portfolio-type1">
            <img src="/assets/images/cobarsystems_small.png" alt="">
            <div class="portfolioitem-hoverinfo">
              <h3>Cobar Systems</h3>
              <p>Business Continuity Management System</p>
              <div class="portfolioitem-actions">
                <a href="/images/cobarsystems.png" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
                <a href="#cobarsystems-1" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
              </div>
            </div>
          </div><!--/portfolioitem-->

          <div class="span3 portfolioitem portfolio-type2">
            <img src="/assets/images/clubbingowl2_small.png" alt="">
            <div class="portfolioitem-hoverinfo">
              <h3>ClubbingOwl</h3>
              <p>Facebook Integrated Venue Management & Marketing System</p>
              <div class="portfolioitem-actions">
                <a href="/images/clubbingowl2.png" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
                <a href="#clubbingowl-2" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
              </div>
            </div>
          </div><!--/portfolioitem-->

          <div class="span3 portfolioitem portfolio-type2">
            <img src="/assets/images/voxtracker_small.png" alt="">
            <div class="portfolioitem-hoverinfo">
              <h3>VoxTracker</h3>
              <p>Order Tracking/Management System for Suppliers and Recipients of Internationally Shipped Goods</p>
              <div class="portfolioitem-actions">
                <a href="/images/voxtracker.png" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
                <a href="#voxtracker-1" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
              </div>
            </div>
          </div><!--/portfolioitem-->


        </div><!--/row-->










        <!-- /Featured Portfolio Items -->

        <div class="row" id="full-portfolio-items">
          <div class="span9">

            <a href="#" class="btn btn-primary hidden" id="portfolio-back">&larr; Back to Portfolio List</a>


            <!-- This is a Portfolio item -->
            <div class="portfolioitem-content hidden" id="cobarsystems-1">
              <img src="/assets/images/cobarsystems_small.png" alt="">
              <h2 class="primary-color">Cobar Systems</h2>

              <h3>Business Continuity Management System</h3>
              <p>Cobar Systems is a B2B service company that provides web-based software solutions in the field of continuity management and disaster recovery. Johann Barlach and Casey Flynn founded Cobar Systems in October 2011 to innovate the way organizations test their recovery strategies.</p>

              {{#if false}}
                <ul class="pager">
                  <li class="previous"><a href="#portfolioitem-6" class="">&larr; Previous</a></li>
                  <li class="next"><a href="#portfolioitem-2" class="">Next &rarr;</a></li>
                </ul>
              {{/if}}

            </div>
            <!-- /Portfolio item -->

            <!-- This is a Portfolio item -->
            <div class="portfolioitem-content hidden" id="clubbingowl-2">
              <img src="/assets/images/clubbingowl2_small.png" alt="">
              <h2 class="primary-color">ClubbingOwl</h2>

              <h3>Facebook Integrated Venue Management & Marketing System</h3>
              <p>The most advanced venue management and marketing software.  Leverage the power of Facebook to virally grow your guest-lists and events while managing your clientelle database, VIP reservations, floorplan-layouts, email marketing campaigns, promotional staff, and much more!</p>


              {{#if false}}
                <ul class="pager">
                  <li class="previous"><a href="#portfolioitem-6" class="">&larr; Previous</a></li>
                  <li class="next"><a href="#portfolioitem-2" class="">Next &rarr;</a></li>
                </ul>
              {{/if}}

            </div>
            <!-- /Portfolio item -->

            <!-- This is a Portfolio item -->
            <div class="portfolioitem-content hidden" id="voxtracker-1">
              <img src="/assets/images/voxtracker_small.png" alt="">
              <h2 class="primary-color">VoxTracker</h2>

              <h3>Vox Supply Chain (VoxTracker)</h3>
              <p></p>

              {{#if false}}
                <ul class="pager">
                  <li class="previous"><a href="#portfolioitem-6" class="">&larr; Previous</a></li>
                  <li class="next"><a href="#portfolioitem-2" class="">Next &rarr;</a></li>
                </ul>
              {{/if}}

            </div>
            <!-- /Portfolio item -->


        </div><!--/span9-->

      </div><!--/row-->



















    </div><!--/section-->
    <span class="clear"></span>














<div class="section noprint" id="blog">

  <h2 class="section-title">
    <span class="glyphicons pencil">
      <i></i>
    </span>Blog
    <a href="#phone-navbar" class="top visible-phone">
      <span class="glyphicons white up_arrow"><i></i></span>
    </a>
  </h2>




  <div class="row isotope" id="blog-items" style="position: relative; overflow: hidden; height: 300px;">
    {{#foreach posts}}
      {{#ifCond @index 0 3}}
        <div class="span3 blogitem isotope-item" style="-webkit-transform: translate3d(0px, 0px, 0px);">
          <a href="{{url}}">
            <img onMouseOut="this.style.opacity=0.8;"
                 onMouseOver="this.style.opacity=1;"
                 style="opacity:0.8;"
                 src="/assets/images/code_icon.png" alt="">
          </a>
          <h3 style="background:rgba(0,0,0,1);"><a href="{{url}}">{{{title}}}</a></h3>
          <div class="blogitem-date">
            <span class="month">{{date format='MM'}}</span>
            <span class="day">{{date format='DD'}}</span>
          </div>
          <div class="blogitem-hoverinfo" style="display: none;">
            <p>{{excerpt}}</p>
            <div>
              <a href="{{url}}" title="{{{title}}}" class="glyphicons white zoom_in"><i></i></a>
            </div>
          </div>
        </div>
      {{/ifCond}}
    {{/foreach}}
  </div><!--/row-->




  <div class="row isotope" id="blog-items" style="position: relative; overflow: hidden; height: 300px;">
    {{#foreach posts}}
      {{#ifCond @index 3 6}}
        <div class="span3 blogitem isotope-item" style="-webkit-transform: translate3d(0px, 0px, 0px);">
          <a href="{{url}}">
            <img onMouseOut="this.style.opacity=0.8;"
                 onMouseOver="this.style.opacity=1;"
                 style="opacity:0.8;"
                 src="/assets/images/code_icon.png" alt="">
          </a>
          <h3 style="background:rgba(0,0,0,1);"><a href="{{url}}">{{{title}}}</a></h3>
          <div class="blogitem-date">
            <span class="month">{{date format='MM'}}</span>
            <span class="day">{{date format='DD'}}</span>
          </div>
          <div class="blogitem-hoverinfo" style="display: none;">
            <p>{{excerpt}}</p>
            <div>
              <a href="{{url}}" title="{{{title}}}" class="glyphicons white zoom_in"><i></i></a>
            </div>
          </div>
        </div>
      {{/ifCond}}
    {{/foreach}}
  </div><!--/row-->

  {{pagination}}

</div>











    <span class="clear"></span>





        </div><!--/span9-->
        <!-- END OF THE MAIN CONTENT -->

        <!-- Sidebar placed on the RIGHT of the screen -->
        <div class="span3 sbright noprint" id="sidebar">
          <div class="sidebar-nav equal hidden-phone">


            <ul class="nav nav-list affix" id="resumenav">
              <li><a href="#about-me" class="scroller">About me</a></li>
              <li><a href="#personal-information" class="scroller">Personal Info</a></li>
              <li><a href="#employment" class="scroller">Employment</a></li>
              <li><a href="#education" class="scroller">Education</a></li>
              <li><a href="#skills" class="scroller">Skills</a></li>

              {{#if false}}
              <li><a href="#testimonials" class="scroller">Testimonials</a></li>
              {{/if}}

              <li><a href="#portfolio" class="scroller">Portfolio</a></li>
              <li><a href="#blog" class="scroller">Blog</a></li>
            </ul>

          </div><!--/sidebar-nav -->

          <span class="clear"></span>

        </div><!--/span3 -->

    </div><!--/row-->

    <div id="footer">
    <p>&copy; Casey Flynn - 2013</p>
    </div>

</div><!--/.container-->
